@model string

@{
    ViewBag.Title = "Upload";
}

<h2>Upload</h2>

<form action="@Url.Action("Upload")" method="post" enctype="multipart/form-data">
  
        <label for="file">Filename:</label>
        <input type="file" name="file" id="file" />
     
        <input type="submit" value="Submit" />
</form>

