@model string

@{
    ViewBag.Title = "Upload";
}

<h2>Upload</h2>

<form action="@Url.Action("Upload")" method="post" enctype="multipart/form-data" class="form-horizontal">
  
        <label for="file">Filename:</label>
        <input type="file" name="file" id="file" class="form-control" />
     
        <input type="submit" value="Submit" class="btn btn-info"/>
</form>

